@tailwind base;
@tailwind components;
@tailwind utilities;

.post-text {
    & p,
    ul {
        margin-bottom: 12px;
    }
}

.hero-img{
    max-height: calc(100vh - 75px);
}
.hero-img-shader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    // https://cssgradient.io/
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5368348022802871) 16%, rgba(255, 255, 255, 0) 100%);
}

.swiper-cont {
    position: relative;
}
.myswiperbtns {
    position: absolute;
    z-index: 1;
    width: 32px !important;
    height: 54px !important;
    background-color: #f0725c;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.2s;
    top: 50%;
    transform: translateY(-50%);
    img {
        width: 9px;
        height: 13px;
    }
    &:hover {
        background-color: #ec3046;
        transition: all ease-in-out 0.2s;
    }
    &::after {
        display: none;
    }
    &.swiper-button-prev {
        left: 0;
    }
    &.swiper-button-next {
        right: 0;
    }
}
